In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
%cd /content/drive/MyDrive/Colab\ Notebooks

/content/drive/MyDrive/Colab Notebooks

In [ ]:
import sqlite3

con = sqlite3.connect('banka_musteriler.db')

cursor = con.cursor()




cursor.execute('CREATE TABLE IF NOT EXISTS musteri (TC INT primary key, ad_soyad TEXT,dogum_tarihi TEXT ,dogum_yeri TEXT ,cinsiyet TEXT)')
while True:
  TC = int(input('tc giriniz: '))
  ad_soyad = input('ad soyad giriniz: ')
  dogum_tarihi = input('doğumtarihi giriniz:')
  dogum_yeri = input('doğum yeri giriniz: ')
  cinsiyet= input('cinsiyet belirtiniz: ')
  cursor.execute("insert into musteri Values(?,?,?,?,?)",(TC,ad_soyad,dogum_tarihi,dogum_yeri,cinsiyet))
  a = input('çıkmak istiyor musunuz?: E/H')
  if a == 'E':
    break
  elif a == 'H':
    continue
  else:
    print("Evet için E'yi , Hayır için H'yi tuşlayınız.")

cursor.execute('CREATE TABLE IF NOT EXISTS musteri_hesap (id int primary key, hesap_adi TEXT, hesap_acilis_tarihi TEXT,hesap_turu TEXT,bakiye int)')
while True:
  id = int(input('hesap id si giriniz: '))
  hesap_adi = input('hesap adı giriniz: ')
  hesap_acilis_tarihi = input('hesap açılış tarihi giriniz: ')
  hesap_turu = input('hesap türü giriniz: ')
  bakiye = int(input('bakiye bilgisi giriniz: '))
  cursor.execute("insert into musteri_hesap Values(?,?,?,?,?)",(id,hesap_adi,hesap_acilis_tarihi,hesap_turu,bakiye))
  a = input('çıkmak istiyor musunuz?: E/H')
  if (a == 'E'):
    break
  elif (a == 'H'):
    continue
  else:
    print("Evet için E'yi, Hayır için H'yi tuşlayınız.")

cursor.execute('CREATE TABLE IF NOT EXISTS musteri_hesap_hareket (id int primary key,islem_turu TEXT,tutar int, musteri_tc INT,hesap_id INT, islem_tarihi TEXT, FOREIGN KEY(musteri_tc) REFERENCES musteri(TC), foreign key(hesap_id) REFERENCES musteri_hesap(id))')
while True:
  id =int(input('id giriniz: '))
  islem_turu = input('işlem türü giriniz: ')
  tutar = int(input('tutar giriniz: '))
  musteri_tc = int(input('müşteri tc si giriniz: '))
  hesap_id = int(input('hesap id giriniz: '))
  islem_tarihi = input('işlem tarihi giriniz: ')
  cursor.execute("insert into musteri_hesap_hareket Values(?,?,?,?,?,?)",(id,islem_turu,tutar,musteri_tc,hesap_id,islem_tarihi))
  a = input('çıkmak istiyor musunuz?: E/H')
  if (a == 'E'):
    break
  elif (a == 'H'):
    continue
  else:
    print("Evet için E'yi, Hayır için H'yi tuşlayınız.")

con.commit()

con.close()

tc giriniz: 12345678991
ad soyad giriniz: ramzan a
doğumtarihi giriniz:23.03.1983
doğum yeri giriniz: boğlum
cinsiyet belirtiniz: erkek
çıkmak istiyor musunuz?: E/HE
hesap id si giriniz: 2323
hesap adı giriniz: z
hesap açılış tarihi giriniz: 02.03.16
hesap türü giriniz: TL
bakiye bilgisi giriniz: 23000
çıkmak istiyor musunuz?: E/HE
id giriniz: 2323
işlem türü giriniz: kira
tutar giriniz: 1023
müşteri tc si giriniz: 12345678991
hesap id giriniz: 2323
işlem tarihi giriniz: 06.05.2019
çıkmak istiyor musunuz?: E/HE

In [ ]:
import sqlite3
con = sqlite3.connect('banka_musteriler.db')
cursor = con.cursor()

cursor.execute('SELECT TC,ad_soyad,dogum_yeri,islem_turu,islem_tarihi from musteri inner join musteri_hesap_hareket on musteri.TC = musteri_hesap_hareket.musteri_tc where TC=12345678991')
dat = cursor.fetchone()
print(dat)

(12345678991, 'ramzan a', 'boğlum', 'kira', '06.05.2019')

In [ ]:
import sqlite3

con = sqlite3.connect('banka_musteriler1.db')

cursor = con.cursor()




cursor.execute('CREATE TABLE IF NOT EXISTS musteri (TC INT primary key, ad_soyad TEXT,dogum_tarihi TEXT ,dogum_yeri TEXT ,cinsiyet TEXT)')

cursor.execute('CREATE TABLE IF NOT EXISTS musteri_hesap (id int primary key, hesap_adi TEXT, hesap_acilis_tarihi TEXT,hesap_turu TEXT,bakiye int)')

cursor.execute('CREATE TABLE IF NOT EXISTS musteri_hesap_hareket (id int primary key,islem_turu TEXT,tutar int, musteri_tc INT,hesap_id INT, islem_tarihi TEXT, FOREIGN KEY(musteri_tc) REFERENCES musteri(TC),FOREIGN KEY(hesap_id) REFERENCES musteri_hesap(id))')

con.commit()

con.close()

In [ ]:
class Musteri():
  def __init__(self,tc,ad_soyad,dogum_tarihi,dogum_yeri,cinsiyet,d_yil):
    self.tc = tc
    self.ad_soyad = ad_soyad
    self.dogum_tarihi = dogum_tarihi
    self.dogum_yeri = dogum_yeri
    self.cinsiyet = cinsiyet
    self.d_yil = d_yil
  def yas_goster(self,g_yil):
    yas = int(g_yil)-int(self.d_yil)
    print(yas)
  def musteri_bilgi_goster(self):
    print("musteri bilgileri: \n TC: {0} \n ad soyad: {1} \n doğum tarihi: {2} \n doğum yeri: {3} \n cinsiyet: {4}".format(self.tc,self.ad_soyad,self.dogum_tarihi,self.dogum_yeri,self.cinsiyet))

In [ ]:
import sqlite3
con=sqlite3.connect('banka.db')
cursor=con.cursor()
#cursor.execute('Create Table If Not Exists musteri(tc INT Prımary Key,ad_soyad TEXT,dogum_tarihi TEXT,dogum_yeri TEXT,cinsiyeti TEXT)')
cursor.execute("Insert Into musteri Values(?,?,?,?,?)",(12345678991,'Ramazan Aydoğan','23.03.1983','Bağlum','Erkek'))
con.commit()
con.close()

In [ ]:
import sqlite3
con=sqlite3.connect('banka_musteriler3')

cursor=con.cursor()
cursor.execute('Create Table If Not Exists musteri(tc INT Prımary Key,ad_soyad TEXT,dogum_tarihi TEXT,dogum_yeri TEXT,cinsiyeti TEXT)')
cursor.execute("Insert Into musteri Values(?,?,?,?,?)",(12345678991,'Ramazan Aydoğan','23.03.1983','Bağlum','Erkek'))
con.commit()
con.close()

In [ ]:
import sqlite3
con=sqlite3.connect('banka_musteriler3')
cursor=con.cursor()
cursor.execute("Select * From musteri")
data=cursor.fetchall()
for i in data:
  print(i)
con.commit()
con.close()

(12345678991, 'Ramazan Aydoğan', '23.03.1983', 'Bağlum', 'Erkek')
(12345678991, 'Ramazan Aydoğan', '23.03.1983', 'Bağlum', 'Erkek')
(12345678991, 'Ramazan Aydoğan', '23.03.1983', 'Bağlum', 'Erkek')
(12345678991, 'Ramazan Aydoğan', '23.03.1983', 'Bağlum', 'Erkek')

In [ ]:
import sqlite3
con=sqlite3.connect('banka_musteriler3')
cursor=con.cursor()
cursor.execute("Select * From musteri where tc=12345678991")
data=cursor.fetchall()
for i in data:
  print(i)
con.close()

(12345678991, 'Ramazan Aydoğan', '23.03.1983', 'Bağlum', 'Erkek')
(12345678991, 'Ramazan Aydoğan', '23.03.1983', 'Bağlum', 'Erkek')
(12345678991, 'Ramazan Aydoğan', '23.03.1983', 'Bağlum', 'Erkek')
(12345678991, 'Ramazan Aydoğan', '23.03.1983', 'Bağlum', 'Erkek')

In [ ]:
cursor.execute("DELETE FROM ders WHERE icerik='Python programlama anlatılıyor'")

In [ ]:
import sqlite3
con = sqlite3.connect('kulup.db')
cursor = con.cursor()


cursor.execute("Update uye set uye_isim= ? where uye_no = ?",('ayşe nur',2))
con.commit()

con.close()

In [ ]:
import sqlite3
con = sqlite3.connect('kulup.db')
cursor= con.cursor()


for i in cursor.execute('SELECT SUM(tutar) FROM aidat'):
  print('toplam: ',i)

toplam:  (300,)

In [ ]:
import sqlite3
con = sqlite3.connect('kulup.db')
cursor= con.cursor()

for i  in cursor.execute('SELECT MAX(uye_no) FROM uye'):
  print(i)

(2,)

In [ ]:
import sqlite3
con = sqlite3.connect('kulup.db')
cursor= con.cursor()


for i in cursor.execute('SELECT uye_no FROM uye'):
  for a in cursor.execute('SELECT uye_no FROM uye'):
    if i>a:
      print(i)
    elif a>i:
      print('üye sayısı: ',a)

üye sayısı:  (2,)