In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
%cd /content/drive/MyDrive/Colab\ Notebooks

/content/drive/MyDrive/Colab Notebooks

In [ ]:
#import sqlite3
#con=sqlite3.connect('kulup.db')
#cursor = con.cursor()

#cursor.execute('DROP TABLE KULUP')

#con.commit()

#con.close()

In [ ]:
import sqlite3

con = sqlite3.connect('kulup.db')

cursor = con.cursor()

cursor.execute('CREATE TABLE IF NOT EXISTS uye (uye_no INT, uye_isim TEXT, telefon_no INT, cinsiyet TEXT,sınıfı INT)')
while True:
  uye_no=int(input('uye_no Giriniz: '))
  uye_isim=(input('isim Giriniz: '))
  telefon_no=int(input('telefon no Giriniz: '))
  cinsiyet=(input('cinsiyet Giriniz: '))
  sınıfı = int(input('kaçıncı sınıf olduğunu giriniz: '))
  cursor.execute("Insert into  uye Values(?,?,?,?,?)",(uye_no,uye_isim,telefon_no,cinsiyet,sınıfı))
  cikis = input('çıkış yapmak istiyor musunuz? E/H: ')
  if (cikis == 'E'):
    break
  elif (cikis == 'H'):
    continue



cursor.execute('CREATE TABLE IF NOT EXISTS aidat (id INT,uye_no INT, tutar INT, tarih TEXT)')
while True:
  id = int(input('id giriniz: '))
  uye_no = int(input('uye_no giriniz: '))
  tutar = int(input('fatura bedelini giriniz: '))
  tarih = input('tarihi giriniz: ')
  cursor.execute("Insert into aidat values(?,?,?,?)",(id,uye_no,tutar,tarih))
  cikis = input('çıkış yapmak istiyor musunuz? E/H: ')
  if (cikis == 'E'):
    break
  elif (cikis == 'H'):
    continue


cursor.execute('CREATE TABLE IF NOT EXISTS yonetim (id INT,isim TEXT, gorevi TEXT, telefon_no INT)')
while True:
  id = int(input('id giriniz: '))
  isim = input('isim giriniz: ')
  gorevi = input('kişinin görevini giriniz: ')
  telefon_no = int(input('telefon no giriniz: '))
  cursor.execute("Insert into yonetim values(?,?,?,?)",(id,isim,gorevi,telefon_no))
  cikis = input('çıkış yapmak istiyor musunuz? E/H: ')
  if (cikis == 'E'):
    break
  elif (cikis == 'H'):
    continue



con.commit()




con.close()

uye_no Giriniz: 1
isim Giriniz: ali
telefon no Giriniz: 5552224422
cinsiyet Giriniz: erkek
kaçıncı sınıf olduğunu giriniz: 1
çıkış yapmak istiyor musunuz? E/H:
uye_no Giriniz: 2
isim Giriniz: ayşe
telefon no Giriniz: 555222333111
cinsiyet Giriniz: kadın
kaçıncı sınıf olduğunu giriniz: 2
çıkış yapmak istiyor musunuz? E/H: E
id giriniz: 1
uye_no giriniz: 1
fatura bedelini giriniz: 100
tarihi giriniz: 17.05.2021
çıkış yapmak istiyor musunuz? E/H: H
id giriniz: 2
uye_no giriniz: 1
fatura bedelini giriniz: 100
tarihi giriniz: 17.05.2020
çıkış yapmak istiyor musunuz? E/H: E
id giriniz: 1
isim giriniz: ömer
kişinin görevini giriniz: BAşkan
telefon no giriniz: 2323
çıkış yapmak istiyor musunuz? E/H: H
id giriniz: 2
isim giriniz: merve
kişinin görevini giriniz: başkan yrd.
telefon no giriniz: 3232
çıkış yapmak istiyor musunuz? E/H: H
id giriniz: 3
isim giriniz: kerem
kişinin görevini giriniz: Yk üyesi
telefon no giriniz: 1111
çıkış yapmak istiyor musunuz? E/H: E

In [ ]:
import sqlite3
con = sqlite3.connect('kulup.db')
cursor = con.cursor()


cursor.execute("Update yonetim set telefon_no= ? where id = ?",(2121,1))
con.commit()

con.close()

In [ ]:
import sqlite3
con = sqlite3.connect('kulup.db')
cursor = con.cursor()


cursor.execute("Update uye set uye_isim= ? where uye_no = ?",('ayşe nur',2))
con.commit()

con.close()

In [ ]:
import sqlite3
con = sqlite3.connect('kulup.db')
cursor= con.cursor()


for i in cursor.execute('SELECT uye_no FROM uye'):
  for a in cursor.execute('SELECT uye_no FROM uye'):
    if i>a:
      print(i)
    elif a>i:
      print('üye sayısı: ',a)

üye sayısı:  (2,)

In [ ]:
import sqlite3
con = sqlite3.connect('kulup.db')
cursor= con.cursor()

for i  in cursor.execute('SELECT MAX(uye_no) FROM uye'):
  print(i)

(2,)

In [ ]:
import sqlite3
con = sqlite3.connect('kulup.db')
cursor= con.cursor()


for i in cursor.execute('SELECT SUM(tutar) FROM aidat'):
  print('toplam: ',i)

toplam:  (300,)

In [ ]:
import sqlite3

con = sqlite3.connect('kulup1.db')

cursor = con.cursor()

cursor.execute('CREATE TABLE IF NOT EXISTS uye (uye_no INT PRİMARY KEY, uye_isim TEXT, telefon_no INT, cinsiyet TEXT,sınıfı INT)')
while True:
  uye_no=int(input('uye_no Giriniz: '))
  uye_isim=(input('isim Giriniz: '))
  telefon_no=int(input('telefon no Giriniz: '))
  cinsiyet=(input('cinsiyet Giriniz: '))
  sınıfı = int(input('kaçıncı sınıf olduğunu giriniz: '))
  cursor.execute("Insert into  uye Values(?,?,?,?,?)",(uye_no,uye_isim,telefon_no,cinsiyet,sınıfı))
  cikis = input('çıkış yapmak istiyor musunuz? E/H: ')
  if (cikis == 'E'):
    break
  elif (cikis == 'H'):
    continue



cursor.execute('CREATE TABLE IF NOT EXISTS aidat (id INT PRİMARY KEY,uye_no INT, tutar INT, tarih TEXT ,  FOREIGN KEY(uye_no) REFERENCES uye(uye_no))')
while True:
  id = int(input('id giriniz: '))
  uye_no = int(input('uye_no giriniz: '))
  tutar = int(input('fatura bedelini giriniz: '))
  tarih = input('tarihi giriniz: ')
  cursor.execute("Insert into aidat values(?,?,?,?)",(id,uye_no,tutar,tarih))
  cikis = input('çıkış yapmak istiyor musunuz? E/H: ')
  if (cikis == 'E'):
    break
  elif (cikis == 'H'):
    continue


cursor.execute('CREATE TABLE IF NOT EXISTS yonetim (id INT,isim TEXT, gorevi TEXT, telefon_no INT, FOREIGN KEY(id) REFERENCES aidat(id))')
while True:
  id = int(input('id giriniz: '))
  isim = input('isim giriniz: ')
  gorevi = input('kişinin görevini giriniz: ')
  telefon_no = int(input('telefon no giriniz: '))
  cursor.execute("Insert into yonetim values(?,?,?,?)",(id,isim,gorevi,telefon_no))
  cikis = input('çıkış yapmak istiyor musunuz? E/H: ')
  if (cikis == 'E'):
    break
  elif (cikis == 'H'):
    continue



con.commit()




con.close()

uye_no Giriniz: 1
isim Giriniz: ali
telefon no Giriniz: 5555333444
cinsiyet Giriniz: erkek
kaçıncı sınıf olduğunu giriniz: 1
çıkış yapmak istiyor musunuz? E/H: E
id giriniz: 1
uye_no giriniz: 2
fatura bedelini giriniz: 100
tarihi giriniz: 10.02.22
çıkış yapmak istiyor musunuz? E/H: E
id giriniz: 2
isim giriniz: ömer
kişinin görevini giriniz: bşka
telefon no giriniz: 2323
çıkış yapmak istiyor musunuz? E/H: E